{% extends 'base.html' %}
{% load static %}

{% block title %}Новости{% endblock %}

{% block css_links %}
<link href="{% static 'css/news_style.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
  <div class = "news">
      <div class = "news__leftbar">
        <div class = "news__leftbar__item">
          {% block sidebar %}{% include 'inc/_sidebar.html' %}{% endblock  %}
        </div>
      </div>
      <div class = "news__content">
        {% block content %} {% endblock  %}
      </div>
  </div>
{% endblock %}
