{% extends 'base_news.html' %}

{% block title %}
  {{ block.super }}: {{ news_item.title }}
{% endblock %}

{% block content %}
<div class="news__card full">
    {% comment %} <a href = "{{ news_item.category.get_absolute_url }}">{{ news_item.category }} </a> {% endcomment %}
    <h5>{{ news_item.title }}</h5>
    {% if news_item.photo %}
    <img class="photo" src="{{ news_item.photo.url }}" alt = "">
    {% endif %}
    <p>{{ news_item.content|safe|linebreaks }}</p>
    <div class="news__card__footer">
        <p id = "category_title"><a href="{{ news_item.category.get_absolute_url }}">{{ news_item.category }} </a></p>
        <p id = "created_date">{{ news_item.created_at|date:"H:i d.m.Y" }}</p>
      </div>
</div>

{% endblock %}
