{% extends 'base_user.html' %}
{% load static %}

{% block title %}
{{ block.super }}: Авторизация
{% endblock %}

{% block body %}
{% block alert %}
{% if messages %}
{% for message in messages %}
    {% if message.tags == 'error' %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
    {% else %}
        <div class="alert alert-{{ message.tags }}" role="alert">
            {{ message }}
        </div>
    {% endif %}

{% endfor %}
{% endif %}
{% endblock %}
<div class = "form">
    <h1>Авторизация</h1>
    <div class = "form__item">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="form__button">Авторизоваться</a>
        </form>
    </div>
</div>
{% endblock %}
